.header {
  overflow: hidden;
  background-color: #f1f1f1;
}

.header-button-group {
  padding-top: 15px;
  padding-right: 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
}

img {
  width: 127px;
  margin-left: 15px;
}
