.cardBorder {
  border: solid 3px #58b578;
  margin-top: 20px;
  margin-right: 20px;
}

.card-grid-left-panel {
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 15px;
}

.card-grid-right-panel {
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
  margin-top: 30px;
}
