/.idea/
/.idea/shelf/
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/encodings.xml
*.iws

# git update-index --assume-unchanged .idea/workspace.xml
# git update-index --assume-unchanged .idea/encodings.xml