<div class="container" [ngStyle]="{'display':displayStyle}">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">
            {{title}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup(false)">
              <span aria-hidden="true">&times;</span>
            </button>
          </h4>
        </div>

        <div class="modal-body">
          <p>{{message}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn"
                  (click)="closePopup(true)">
            {{okButtonText}}
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="closePopup(false)">
            {{cancelButtonText}}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>



