.buttonGroup {
  margin-top: 10px
}

.textButton {
  height:25px;
  width:100px
}

button:hover {
  background-color: #0066ff;
}

button:focus {
  background-color: #ff00ea;
}

button:active {
  background-color: #e53333;
}
